
<template>
    <div>
        <gantt class="gantt-container" :end_date="this.$props.end_projects" :user_opts="user_opts"></gantt>
    </div>
</template>

<script>
    import Gantt from '../components/TaskComponent.vue';
    import { requestsMixin } from "../mixins/request";
    import {gantt} from "dhtmlx-gantt";
    export default {
        name: 'app',
        components: {Gantt},
        mixins: [requestsMixin],
        props: ['project','end_projects'],
        data () {
            return {
                user_opts: []
            }
        },
        mounted: function () {
            gantt.load(this.$base_url+"/task/api/project-task/"+this.project); //load data from prop
            let dp = new gantt.dataProcessor(this.$base_url+"/task/api/");
            dp.init(gantt); 
            //validate before save
            gantt.attachEvent("onLightboxSave", function(id, item){
                if(!item.text){
                    dhtmlx.message({type:"error", text:"Task name cannot be empty !"});
                    return false;
                }
                return true;
            });

            gantt.attachEvent("onBeforeTaskAdd", function(id,item){
                var parentId = gantt.getParent(id);
                if(parentId > 100000){
                    location.reload();
                }
                return true;
            });

            gantt.attachEvent("onAfterTaskUpdate", function(id,item){
                item.color = item.progress == 1?  "#56e884": "#3db9d3";

                var parentId = gantt.getParent(id);
                if (parentId == 0) {
                    return;
                }
                var parent = gantt.getTask(parentId);
                var childs = gantt.getChildren(parentId);
                var totalProgress = 0;
                var tempTask;
                for (let i = 0; i < childs.length; i++) { 
                    tempTask = gantt.getTask(childs[i]);
                    totalProgress += parseFloat(tempTask.progress);
                }

                if(totalProgress == 0){
                    parent.progress = 0;
                }
                else{
                    parent.progress = (totalProgress / childs.length).toFixed(2);
                }
                gantt.updateTask(parentId);
            });
            //Show Ajax Errors
            gantt.attachEvent("onAjaxError", function(request){
                var errors = JSON.parse(request.response).errors;
                var message = "";
                for(let key in errors){
                    message = errors[key][0]; break;
                }
                gantt.message({type: "error", text: "Error! " + message});
                return true;
            });
            //Call API
            dp.setTransactionMode({
                mode:"REST",
                payload:{
                    "_token": $('meta[name="csrf-token"]').attr('content'),
                    "project_id": this.project
                }
            });
           
        },
        created(){
            this.getUserOpts();
        },
        methods: {
            getUserOpts(){
                axios.get(this.$base_url + "/task/api/project-users/"+ this.project )
                .then(response => {
                    let vw=this
                    $.each(response.data, function (key, value) {
                        vw.user_opts.push({key: value.id, label: value.name});
                    });
                })
                .catch(error => {
                    console.log(error.response);
                });
            }
        }
    }
</script>

<style>
    html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .gantt-container{
        height: 90vh;
    }
    .gantt_grid_scale   .gantt_last_cell{
        display: none;
    }

</style>
