
<template>
    <div ref="gantt"></div>
</template>

<script>
    import {gantt} from 'dhtmlx-gantt';
    // import moment from "moment";

    export default {
        name: 'gantt',
        props: ['user_opts'],
        mounted: function () {

            gantt.config.xml_date = "%Y-%m-%d";
            gantt.showDate(new Date());
            //enable auto width mode
            gantt.config.work_time = true;  // removes non-working time from calculations

            //================== Config  Scales ====================
            gantt.config.date_grid = '%m/%d/%Y';
            gantt.config.scale_height = 50;
            gantt.config.scales = [
                {unit: 'month', step: 1, format: '%F, %Y'},
                {unit: "day", step:1, format: "%j %D"}
            ];
            //================== Config lightbox (Form) ===================
            gantt.locale.labels['section_name'] = "Task name";
            gantt.locale.labels['section_time'] = "Time line";
            gantt.locale.labels['section_progress'] = 'Progress';
            gantt.locale.labels['section_assigned'] = 'Assigned to:';
            gantt.locale.labels.section_priority = "Priority";

            gantt.config.lightbox.sections = [
                /**
                 * name: section name
                 * height: section height
                 * map_to: column name map to database
                 * type: input type
                 */
                {name: 'name', height: 52, map_to: 'text', type: 'textarea'},
                {name: 'description', height: 52, map_to: 'description', type: 'textarea'},
                {name: "assigned", type: "checkbox", map_to: "user_ids", options: this.user_opts},
                {name: "time", height:32, type:"dhx_calendar", map_to:"auto", skin: '', date_format: '%m-%d-%Y'},
                {
                    name: "priority", height: 52, map_to: "priority", type: "select", options: [
                        {key: "", label: "Normal"},
                        {key: 1, label: "High"},
                        {key: 2, label: "Low"}
                    ]
                },
            ];

            //================= Custom date picker =====================
            var duration = function (a, b, c) {
                var res = gantt.calculateDuration(a.getDate(false), b.getDate(false));
                c.innerHTML = res + ' days';
            };

            var calendar_init = function (id, data, date) {
                var obj = new dhtmlXCalendarObject(id);
                obj.setDateFormat(data.date_format ? data.date_format : '');
                obj.setDate(date ? date : (new Date()));
                obj.hideTime();
                if (data.skin)
                    obj.setSkin(data.skin);
                return obj;
            };
            gantt.form_blocks["dhx_calendar"] = {
                render: function (sns) {
                    return "<div class='dhx_calendar_cont'><input type='text' readonly='true' id='calendar1'/> &#8211; "
                        + "<input type='text' readonly='true' id='calendar2'/><label id='duration'></label></div>";
                },
                set_value: function (node, value, task, data) {

                    var a = node._cal_start = calendar_init('calendar1', data, task.start_date);
                    var b = node._cal_end = calendar_init('calendar2', data, task.end_date);
                    var c = node.lastChild;

                    b.setInsensitiveRange(null, new Date(a.getDate(false) - 86400000));

                    var a_click = a.attachEvent("onClick", function (date) {
                        b.setInsensitiveRange(null, new Date(date.getTime() - 86400000));
                        duration(a, b, c);
                    });

                    var b_click = b.attachEvent("onClick", function (date) {
                        duration(a, b, c);
                    });

                    var a_time_click = a.attachEvent("onChange", function (d) {
                        b.setInsensitiveRange(null, new Date(d.getTime() - 86400000));
                        duration(a, b, c);
                    });

                    var b_time_click = b.attachEvent("onChange", function (d) {
                        duration(a, b, c);
                    });

                    var id = gantt.attachEvent("onAfterLightbox", function () {
                        a.detachEvent(a_click);
                        a.detachEvent(a_time_click);
                        a.unload();
                        b.detachEvent(b_click);
                        b.detachEvent(b_time_click);
                        b.unload();
                        a = b = null;
                        this.detachEvent(id);
                    });

                    document.getElementById('calendar1').value = a.getDate(true);
                    document.getElementById('calendar2').value = b.getDate(true);
                    duration(a, b, c);
                },
                get_value: function (node, task) {
                    task.start_date = node._cal_start.getDate(false);
                    task.end_date = node._cal_end.getDate(false);
                    return task;
                },
                focus: function (node) {
                }
            };

            /*----------------priority--------------------------*/
            // gantt.templates.task_class  = function(start, end, task){
            //     let today= moment(new Date()).format("YYYY-MM-DD");
            //     if(!(moment(end).format("YYYY-MM-DD") > today))
            //     {
            //         return "late";
            //     }
            //     switch (task.priority){
            //         case 0:
            //             return "medium"; //medium
            //             break;
            //         case 1:
            //             return "high";
            //             break;
            //         case 2:
            //             return "low";
            //             break;
            //     }
            // };
            /*----------------week_end--------------------------*/

            gantt.templates.scale_cell_class = function (date) {

                if (date.getDay() == 0 || date.getDay() == 6) {
                    return "weekend";
                }
            };
            gantt.templates.timeline_cell_class = function (item, date) {
                if (date.getDay() == 0 || date.getDay() == 6) {
                    return "weekend"
                }
            };

            /*----------------To Date and start date--------------------------*/
            gantt.plugins({
                marker: true
            });

            var dateToStr = gantt.date.date_to_str(gantt.config.task_date);
             gantt.addMarker({
                start_date: new Date(), //a Date object that sets the marker's date
                css: "today", //a CSS class applied to the marker
                text: "Now", //the marker title
                title: dateToStr( new Date()) // the marker's tooltip
            });
            //  console.log(this.$props.end_date.end_date)
            // gantt.addMarker({
            //     start_date:dateToStr(this.$props.end_date.end_date), //a Date object that sets the marker's date
            //     css: "today", //a CSS class applied to the marker
            //     text: "Now", //the marker title
            //
            // });

            //===================== Config progress text ====================
            gantt.templates.progress_text = function (start, end, task) {
                return "<span style='text-align:left'>" + Math.round(task.progress * 100) + "% </span>";
            };
            gantt.templates.task_class = function(start, end, task){ 
                if(task.progress == 1){
                    task.color = "#56e884";
                }
                else if((end < new Date() || task.priority==1) && task.progress < 1){
                    task.color = "#ff5252";
                }
                //disable drag progress
                if(gantt.getParent(task.id)==0 || gantt.getChildren(task.id).length > 0){ 
                    return "no_drag_progress"; 
                } 
                return ""; 
            };
            gantt.init(this.$refs.gantt);
        },
    }
</script>
<style>
    @import "~dhtmlx-gantt/codebase/dhtmlxgantt.css";

    .gantt_container_resize_watcher{
        position: relative;
    }
    .gantt_container_resize_watcher{
        position: absolute;
    }
    /*======= Custom Popup =======*/
    .gantt_cal_lsection {
        padding: 10px 5px 0px 10px;
    }
    .gantt_cal_ltext textarea{
        padding: 5px 5px 5px 8px;
        border-radius: 3px;
    }
    .gantt_cal_ltext textarea:focus{
        border: 1px solid rgb(58, 176, 223);
    }
    .gantt_cal_ltext select{
        margin: 4px 0px;
        padding: 3px 8px;
        border-radius: 3px;
    }
    .dhx_calendar_cont input {
        width: 100px;
        padding: 10px;
        margin: 3px 3px 0px 10px;
        border-radius: 3px;
        height: 17px;
        text-align: center;
        border: 1px solid #ccc;
        color: #646464;
	}
	.dhtmlxcalendar_dhx_skyblue, .dhtmlxcalendar_dhx_web, .dhtmlxcalendar_dhx_terrace {
		z-index: 999999 !important;
	}
    /* Custom popup delete confirm*/
    .gantt_modal_box {
        width: 300px;
    }
    .gantt_cal_ltext label{
        margin-right: 10px;
        color:black;
        font-size: 15px;
    }
    .high {
        border: 2px solid #d96c49;
        color: #d96c49;
        background: #d96c49;
    }
    .weekend {
        background: #f4f7f4;
    }

    .gantt_selected .weekend {
        background: #f7eb91;
    }
    .status_line {
        background-color: #0ca30a;
    }
    .late{
        background: #cc2127;
    }
    .gantt_task_progress {
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        color: white;
        font-size: 12PX;
    }
    .no_drag_progress .gantt_task_progress_drag{ 
        display: none !important; 
    }
</style>
